body {
    background-image: url("../images/art-background-blue-370799.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    color: #313131;
}

h2, label {
    padding-top: 15px;
}

a {
    color: #4f4f4f; 
}

a:hover {
    color: #333333; 
}

.jumbotron {
    background: none
}

.display-4, h1, h2 {
    font-family: 'Caveat', cursive;
}

.display-4 { 
    font-size: 70px;
}

.lead {
    color: #414141;
}

.btn-purp {
    background-color: #505091;
    color: #edecee;
}

.btn-purp:hover {
    background-color: #3e3e70;
    color: #edecee;
}

.dialNum {
    font-size: 30px;
    color: #333333;
}

.padText {
    font-size: 10px;
}

.phoneBtns {
    padding: 20px 18px 2px 18px;
    line-height: 10px;
    background-color: #E3E0E5;
}

.selectedPhoneBtn {
    padding: 20px 18px 2px 18px;
    line-height: 10px;
    background-color: #DB74AC;
}

.sendBtns {
    margin-top: 10px;
    font-size: 30px;
}

#message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#surveyLogo {
    width: 70%;
    padding-top: 20px;
    position: absolute;
}

#surveyHeader {
    margin-top: 140px;
}